{% extends 'user/base.html' %} 
{% load static %} 
{% block title %}Home{% endblock title %}
{% block content %}
<div class="">
    <header>

        <h4>Welcome, {{ user.first_name }} | {{ user.role.role_name }}</h4>
    </header>
<article>
    {% if user.role.role_name == 'PLANT STORE' %}
    <a href="{% url 'sales_to_vendor_form' %}"><button>Raise new request</button></a>
    {% endif %}
    <div>
        {% if user.role.role_name == 'PLANNING' or user.role.role_name == 'FINANCE' or user.role.role_name == 'PLANT HEAD' %}
        <ol>
            {% for form in pending_requests %}
            <li><a href="{% url 'sales_to_vendor_approval' form_id=form.form_id %}">{{ form.company_code }} | {{ form.form_id }} | {{ form.reach_code }}</a></li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>

</article>


</div>
{% endblock content %}
